/* class level */
.Total {
    border-top: black 1px solid;
    background-color: #F1F1F1;
}

.SubBar {
    background-color: #F1F1F1;
    
}

.SubBar .subbar-title {
    font-size: 0.75 rem;
    line-height: 2.25 rem;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}

.SubBar a {
    font-size: 0.9375rem;
    line-height: 1.75rem;
    color: rgb(63, 63, 63);
}


/* other */
.logo {
    height: 100px;
}

.red-box {
    border: red 1px solid;
}